@import "variables.scss";

.page{
    @extend %global;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}
.page__body{
    @extend %global;
    overflow-x: hidden;
    flex-direction: column;
    @extend %stretch;
    width: 100%;
    max-width: 1440px;
    position: relative;
    background: url(../img/desktop/backgrond2.jpg) no-repeat bottom;
    @media(max-width:1250px){
        background-size: 1350px;
    }
    @media(max-width:1230px){
        background-size: 1450px;
    }
    @media(max-width:1150px){
        background-size: 1152px;
    }
    @media(max-width:1080px){
        background-size: 1222px;
    }
    @media(max-width:990px){
        background-size: 1322px;
    }
    @media(max-width:990px){
        background-size: 1382px;
    }
    @media(max-width:900px){
        background-size: 1122px;
    }
    @media(max-width:870px){
        background-size: 1202px;
    }
    @media(max-width:993px){
        background-size: 1352px;
    }
    @media(max-width:942px){
        background-size: 1382px;
    }
    @media(max-width:901px){
        background-size: 1152px;
    }
    @media(max-width:865px){
        background-size: 1192px;
    }
    @media(max-width:850px){
        background-size: 1052px;
    }
    @media(max-width:773px){
        background-size: 1092px;
    }
    @media(max-width:750px){
        background-size: 1100px;
    }
    @media(max-width:705px){
        background-size: 1152px;
    }
    @media(max-width:666px){
        background-size: 1222px;
    }
    @media(max-width:640px){
        background-size: 1250px;
    }
    @media(max-width:634px){
        background-size: 1322px;
    }
    @media(max-width:630px){
        background-size: 1032px;
    }
    @media(max-width:610px){
        background: url(../img/mobile/background2.jpg) no-repeat bottom / 560px;
    }
    @media(max-width:580px){
        background-size: 590px;
    }
    @media(max-width:548px){
        background-size: 620px;
    }
    @media(max-width:538px){
        background-size: 650px;
    }
    @media(max-width:515px){
        background-size: 620px;
    }
    @media(max-width:510px){
        background-size: 480px;
    }
    @media(max-width:495px){
        background-size: 455px;
    }
    @media(max-width:490px){
        background-size: 470px;
    }

    @media(max-width:445px){
        background-size: 505px;
    }
    @media(max-width:415px){
        background-size: 470px;
    }
    @media(max-width:400px){
        background-size: 475px;
    }
    @media(max-width:390px){
        background: url(../img/mobile/fon.png) no-repeat top/contain,
         url(../img/mobile/background.jpg) no-repeat top/contain,
         url(../img/mobile/background2.jpg) no-repeat bottom / 390px 46.7%;
     }
     @media(max-width:349px){
        
        background: url(../img/mobile/fon.png) no-repeat top/contain,
         url(../img/mobile/background.jpg) no-repeat top/contain,
         url(../img/mobile/background2.jpg) no-repeat bottom / 390px 48.7%;   
      }
     @media(max-width:322px){
        background: url(../img/mobile/fon.png) no-repeat top/contain,
         url(../img/mobile/background.jpg) no-repeat top/contain, 
         url(../img/mobile/background2.jpg) no-repeat bottom / 390px 49.7%;   
      }
    }
.page__background{
    position: absolute;
    z-index: -52;
    width: 100%;
    max-width: 1440px;
    @media(max-width:390px){
        display: none;
    }
}
.page__background-down{
    position: absolute;
    z-index: -5;
    width: 100%;
    max-width: 1440px;
    top: 65%;
}
.page-header{
    @extend %global;
    flex-direction: row;
    @extend %stretch;
    @extend %max-width-desktop;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    box-sizing: border-box;
    justify-content: space-around;
    position: relative;
    @media(max-width:900px){
        padding: 0 15px;
    }
    @media(max-width:390px){
        background-color: transparent;
        box-shadow: none;
        margin: 40px auto;
        justify-content: space-between;
        align-items: center;
    }
    
}
.page-main{
    @extend %global;
    flex-direction: column;
    @extend %stretch;
    @extend %max-width-desktop;
    box-sizing: border-box;
    // padding: 0 36px;
}
.page-footer{
    @extend %global;
    flex-direction: row;
    @extend %stretch;
    @extend %max-width-desktop;
    box-sizing: border-box;
    padding: 0 36px;
    height: 61px;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}
input{
   &:focus {
    outline:none;
    }   
}
input:disabled{
    cursor: not-allowed;
}