@import "variables.scss";

.main-nav__btn{
    display: none;
}

.page-header__nav{
    display: block;
    margin: 0 0;
}
.main-nav{
    @extend %global;
}
.main-nav__list{
    @extend %global;
    @extend %stretch;
    flex-direction: row;
    width: 38vw;
    max-width: 700px;
    list-style: none;
    height: 95px;

}
.main-nav__item{
    transition: 0.25s;
    &:hover{
        transform: scale(1.1);
        transition: 0.25s;
    }
    &:active{
        opacity: 0.3;
    }
}
.main-nav__link{
    text-decoration: none;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

