@import "variables.scss";

.page-main__preview{
    @extend %global;
    width: 83%;
    max-width:1440px;
    margin-bottom: 25%;
    @media(max-width:1250px){
        margin-bottom: 10%;
    }
    @media(max-width:800px){
        margin-bottom: 15%;
    }
    @media(max-width:450px){
        margin-bottom: 10%;
    }
  @media(max-width:395px){
         margin-bottom: 14%;
  }
}
.preview{
    @extend %global;
    flex-direction: column;
    align-items: flex-start;
    @extend %max-width-desktop;
    gap: 25px;
    @media(max-width:395px){
        gap: 35px;
    }
}

//// content

.preview-content{
    @extend %global;
    flex-direction: column;
    @extend %max-width-desktop;
    font-family: 'Aleo';
    color: #FFFFFF;
    font-weight: 500;
}
.preview-content__header{
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    width: 75%;
    margin-top: 25px;
    margin-bottom: 20px;
    @media(max-width:1150px){
        font-size: 60px;
    }
    @media(max-width:900px){
        font-size: 50px;
        line-height: 75px;
    }
    @media(max-width:800px){
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 0;
    }
    @media(max-width:630px){
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 0;
    }
    @media(max-width:510px){
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 0;
        margin-top: 5px;
    } 
    
    @media(max-width:395px){
        display: none;
    }
}
.preview-content__text{
    font-style: italic;
    font-size: 20px;
    line-height: 24px;
    @media(max-width:1150px){
        font-size: 16px;
        line-height: 20px;

    }
    @media(max-width:900px){
        font-size: 14px;
        line-height: 18px;

    }
     @media(max-width:630px){
        font-size: 12px;
        line-height: 15px;

    }
    @media(max-width:510px){
        font-size: 10px;
        line-height: 12px;

    }
    @media(max-width:395px){
        display: none;
    }
}

//// search

.preview-search{
    @extend %global;
    flex-direction: row;
    @extend %max-width-desktop;
    position: relative;
}
.preview-search__input{
    padding: 30px 35px;
    width: 68%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    border: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
    font-style: italic;
    transition: 0.25s;
    &::placeholder{
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #F2785C;
        font-style: italic;
    }
    &:hover{
        transition: 0.25s;
        background: rgba(255, 255, 255, 0.8);
    }
    &:focus {
    outline:none;
    transition: 0.25s;
    background: rgba(255, 255, 255, 0.85);
    }
    
    @media(max-width: 1150px){
        font-size: 20px;
        line-height: 25px;
        padding: 20px 25px;
        &::placeholder{
            font-size: 20px;
        }    
    }
    @media(max-width:900px){
        padding: 15px 25px;
        font-size: 18px;
        &::placeholder{
            font-size: 18px;
        } 
    }
     @media(max-width:800px){
        padding: 10px 20px;
        font-size: 14px;
        &::placeholder{
            font-size: 14px;
        }   
    }
    @media(max-width:630px){
        padding: 5px 15px;
        font-size: 12px;
        &::placeholder{
            font-size: 12px;
        }   
    }
    @media(max-width:510px){
        padding: 0px 15px;
        font-size: 10px;
        &::placeholder{
            font-size: 10px;
        }   
    }
    @media(max-width:395px){
        padding: 10px 15px;
        font-size: 12px;
        box-sizing: border-box;
        width: 100%;
        border-radius: 13px;
        &::placeholder{
            font-size: 12px;
        }   
    }
}
.preview-search__btn{
    @extend %btn;
    position: absolute;
    top: 20%;
    left:53%;
    font-size: 24px;
    line-height: 32px;
    z-index: 5;
    width: 20%;
    @media(max-width:1280px){
        font-size: 22px;
    }
    @media(max-width:1200px){
        font-size: 20px;
    }
    @media(max-width:1150px){
        font-size: 18px;
        line-height: 20px;
        width: 19%;
        padding: 10px;
    }
    @media(max-width:900px){
        font-size: 16px;
        line-height: 17px;
        top: 16%;
        padding: 10px;
        left: 54%;
    }
    @media(max-width:800px){
        font-size: 13px;
        line-height: 10px;
        top: 20%;
        padding: 8px;
        left: 54%;
    }
    @media(max-width:630px){
        font-size: 8px;
        line-height: 8px;
        top: 22%;
        left: 58%;
        padding: 6px;
        width: 15%;
    }
    @media(max-width:510px){
        font-size: 6px;
        line-height: 10px;
        top: 13%;
        left: 59%;
        padding: 4px;
        width: 15%;
    }
    @media(max-width:395px){
        font-size: 11px;
        line-height: 12px;
        top: 16%;
        left: 70%;
        padding: 8px;
        width: 28%;
        border-radius: 8px
    }
    @media(max-width:370px){
        font-size: 10px;
        line-height: 18px;
        width: 29%;
        padding: 6px;
        left: 69%;
    }
}