@import "variables.scss";

.page-main__steps{
    @extend %global;
    @extend %stretch;
    flex-direction: column;
    @extend %max-width-desktop;
    margin-bottom: 90px;
    @media(max-width:395px){
        margin-bottom: 37px;
    }
}
.steps{
    @extend %global;
    @extend %stretch;
    flex-direction: column;
    @extend %max-width-desktop;
}
.steps__header{
    @extend %header-font;
    width: 100%;
    text-align: center;
    @media(max-width:1150px){
        font-size: 35px;
    }
    @media(max-width:900px){
        font-size: 30px;
    }
    @media(max-width:800px){
        font-size: 25px;
    }
    @media(max-width:630px){
        font-size: 25px;
    }
    @media(max-width:510px){
        font-size: 20px;
    }
    @media(max-width:395px){
        font-size: 14px;
        margin-bottom: 0;
    }
}
.steps-content{
    @extend %global;
    @extend %stretch;
    flex-direction: row;
    @extend %max-width-desktop;
    justify-content: center;
    @media(max-width:395px){
        justify-content: space-between;
    }
}
.steps-content__item{
    @extend %global;
    @extend %stretch;
    flex-direction: column;
    position: relative;
    width: 25%;
    @media(max-width:395px){
        margin: 0;
    }
}
.steps-content__img{
    border-radius: 16px;
    width: 100px;
    @media(max-width:1150px){
        width: 90px;
    }
    @media(max-width:900px){
        width: 80px;
    }
    @media(max-width:800px){
        width: 70px;
    }
    @media(max-width:630px){
        width: 60px;
    }
    @media(max-width:510px){
        width: 50px;
    }
    @media(max-width:395px){
        width: 70px;
    }
}
.steps-content__text{
    @extend %main-font;
    color: #0D606F;
    text-align: start;
    width: max-content;
    position: absolute;
    top: 110px;
    width: 100%;
    text-align: center;
    @media(max-width:1150px){
        font-size: 16px;
        line-height: 20px;
    }
    @media(max-width:900px){
        font-size: 14px;
        line-height: 18px;
        margin: -15px auto 0 auto;
    }
     @media(max-width:630px){
        font-size: 12px;
        line-height: 15px;
        margin-top: -30px;
    }
    @media(max-width:510px){
        font-size: 10px;
        line-height: 12px;
        margin-top: -50px;
    }
    @media(max-width:395px){
        margin-top: -19px;
    }
}