.steps-content__item, .steps-content, .steps, .page-main__steps {
  display: flex;
  margin: 0 auto;
  font-family: "Aleo", serif;
}

.steps-content__item, .steps-content, .steps, .page-main__steps {
  align-items: center;
  justify-content: space-between;
}

.steps__header {
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
}

.steps-content__text {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.steps-content, .steps, .page-main__steps {
  width: 100%;
  max-width: 1440px;
}

.page-main__steps {
  flex-direction: column;
  margin-bottom: 90px;
}
@media (max-width: 395px) {
  .page-main__steps {
    margin-bottom: 37px;
  }
}

.steps {
  flex-direction: column;
}

.steps__header {
  width: 100%;
  text-align: center;
}
@media (max-width: 1150px) {
  .steps__header {
    font-size: 35px;
  }
}
@media (max-width: 900px) {
  .steps__header {
    font-size: 30px;
  }
}
@media (max-width: 800px) {
  .steps__header {
    font-size: 25px;
  }
}
@media (max-width: 630px) {
  .steps__header {
    font-size: 25px;
  }
}
@media (max-width: 510px) {
  .steps__header {
    font-size: 20px;
  }
}
@media (max-width: 395px) {
  .steps__header {
    font-size: 14px;
    margin-bottom: 0;
  }
}

.steps-content {
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 395px) {
  .steps-content {
    justify-content: space-between;
  }
}

.steps-content__item {
  flex-direction: column;
  position: relative;
  width: 25%;
}
@media (max-width: 395px) {
  .steps-content__item {
    margin: 0;
  }
}

.steps-content__img {
  border-radius: 16px;
  width: 100px;
}
@media (max-width: 1150px) {
  .steps-content__img {
    width: 90px;
  }
}
@media (max-width: 900px) {
  .steps-content__img {
    width: 80px;
  }
}
@media (max-width: 800px) {
  .steps-content__img {
    width: 70px;
  }
}
@media (max-width: 630px) {
  .steps-content__img {
    width: 60px;
  }
}
@media (max-width: 510px) {
  .steps-content__img {
    width: 50px;
  }
}
@media (max-width: 395px) {
  .steps-content__img {
    width: 70px;
  }
}

.steps-content__text {
  color: #0D606F;
  text-align: start;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: 110px;
  width: 100%;
  text-align: center;
}
@media (max-width: 1150px) {
  .steps-content__text {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 900px) {
  .steps-content__text {
    font-size: 14px;
    line-height: 18px;
    margin: -15px auto 0 auto;
  }
}
@media (max-width: 630px) {
  .steps-content__text {
    font-size: 12px;
    line-height: 15px;
    margin-top: -30px;
  }
}
@media (max-width: 510px) {
  .steps-content__text {
    font-size: 10px;
    line-height: 12px;
    margin-top: -50px;
  }
}
@media (max-width: 395px) {
  .steps-content__text {
    margin-top: -19px;
  }
}