.stories-content__item, .stories-content__wrapper, .stories-content, .stories, .page-main__stories {
  display: flex;
  margin: 0 auto;
  font-family: "Aleo", serif;
}

.stories-btn, .stories-content, .stories, .page-main__stories {
  align-items: center;
  justify-content: space-between;
}

.stories__header {
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
}

.stories-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #0D606F;
  border-radius: 10px;
  border: none;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 10px 30px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.45), 0px 5px 3px 0px rgba(21, 86, 98, 0.2);
  transition: 0.25s;
}
.stories-btn:hover {
  background: rgba(13, 96, 111, 0.6);
  cursor: pointer;
  transition: 0.25s;
}
.stories-btn:active {
  background: rgb(8, 61, 70);
  transition: 0.1s;
}

.stories-content__link {
  font-weight: bold;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0D606F;
  transition: 0.2s;
}
.stories-content__link:hover {
  color: #169db4;
  cursor: pointer;
  transition: 0.2s;
}
.stories-content__link:active {
  color: #07353d;
  transition: 0.1s;
}

.stories-content__text {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.stories-content__wrapper, .stories-content, .stories__header, .stories, .page-main__stories {
  width: 100%;
  max-width: 1440px;
}

.page-main__stories {
  background: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  padding: 40px 120px;
}
@media (max-width: 850px) {
  .page-main__stories {
    padding: 20px 40px;
  }
}
@media (max-width: 415px) {
  .page-main__stories {
    padding: 20px 10px;
  }
}
@media (max-width: 395px) {
  .page-main__stories {
    padding: 10px 10px;
  }
}

.stories {
  flex-direction: column;
}

.stories__header {
  text-align: center;
  margin-top: -40px;
  margin-bottom: 85px;
}
@media (max-width: 1252px) {
  .stories__header {
    margin-bottom: 190px;
  }
}
@media (max-width: 1232px) {
  .stories__header {
    margin-bottom: 85px;
  }
}
@media (max-width: 1150px) {
  .stories__header {
    font-size: 35px;
    margin-bottom: 85px;
  }
}
@media (max-width: 900px) {
  .stories__header {
    font-size: 30px;
  }
}
@media (max-width: 800px) {
  .stories__header {
    font-size: 25px;
  }
}
@media (max-width: 630px) {
  .stories__header {
    font-size: 25px;
    margin: -70px auto 20px;
  }
}
@media (max-width: 510px) {
  .stories__header {
    font-size: 20px;
  }
}
@media (max-width: 395px) {
  .stories__header {
    font-size: 14px;
    margin: -56px auto 5px;
  }
}

.stories-content {
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 395px) {
  .stories-content {
    gap: 0;
  }
}

.stories-content__wrapper {
  flex-direction: row;
  gap: 40px;
  align-items: center;
}
@media (max-width: 395px) {
  .stories-content__wrapper {
    gap: 5px;
    align-items: flex-start;
  }
}

.stories-content__img {
  max-width: 400px;
  max-height: 250px;
  border-radius: 16px;
  filter: drop-shadow(0px 4px 4px #0D606F);
}
@media (max-width: 1320px) {
  .stories-content__img {
    width: 300px;
  }
}
@media (max-width: 1250px) {
  .stories-content__img {
    width: 200px;
  }
}
@media (max-width: 515px) {
  .stories-content__img {
    width: 170px;
  }
}
@media (max-width: 495px) {
  .stories-content__img {
    width: 140px;
  }
}
@media (max-width: 470px) {
  .stories-content__img {
    width: 110px;
  }
}
@media (max-width: 395px) {
  .stories-content__img {
    width: 42vw;
  }
}

.stories-content__item {
  flex-direction: column;
  margin: 0;
}

.stories-content__header {
  font-size: 35px;
  line-height: 42px;
  color: #0D606F;
  margin: 0;
  font-weight: 400;
}
@media (max-width: 1150px) {
  .stories-content__header {
    font-size: 22px;
    line-height: 30px;
  }
}
@media (max-width: 900px) {
  .stories-content__header {
    font-size: 15px;
    line-height: 28px;
    font-weight: bold;
  }
}
@media (max-width: 630px) {
  .stories-content__header {
    font-size: 13px;
    line-height: 25px;
    font-weight: bold;
  }
}
@media (max-width: 510px) {
  .stories-content__header {
    font-size: 11px;
    line-height: 22px;
    font-weight: bold;
  }
}
@media (max-width: 335px) {
  .stories-content__header {
    line-height: 15px;
  }
}

.stories-content__text {
  color: #0D606F;
  margin-bottom: 0;
}
@media (max-width: 1150px) {
  .stories-content__text {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 900px) {
  .stories-content__text {
    font-size: 12px;
    line-height: 18px;
  }
}
@media (max-width: 630px) {
  .stories-content__text {
    font-size: 10px;
    line-height: 15px;
  }
}
@media (max-width: 510px) {
  .stories-content__text {
    font-size: 8px;
    line-height: 12px;
  }
}
@media (max-width: 410px) {
  .stories-content__text {
    width: 230px;
    line-height: 10px;
  }
}
@media (max-width: 395px) {
  .stories-content__text {
    width: 50vw;
    line-height: 10px;
    margin-top: 0;
  }
}

.stories-content__link {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 1150px) {
  .stories-content__link {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 900px) {
  .stories-content__link {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 630px) {
  .stories-content__link {
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 510px) {
  .stories-content__link {
    font-size: 10px;
    line-height: 12px;
  }
}
@media (max-width: 395px) {
  .stories-content__link {
    font-size: 8px;
    line-height: 10px;
  }
}

.stories-btn {
  font-size: 24px;
  line-height: 32px;
  display: flex;
  flex-direction: row;
  gap: 5%;
  width: 20%;
  margin-top: 40px;
}
@media (max-width: 1350px) {
  .stories-btn {
    font-size: 20px;
    padding: 5px 20px;
  }
}
@media (max-width: 1200px) {
  .stories-btn {
    font-size: 17px;
    padding: 3px 15px;
  }
}
@media (max-width: 950px) {
  .stories-btn {
    font-size: 14px;
    padding: 3px 13px;
  }
}
@media (max-width: 815px) {
  .stories-btn {
    font-size: 11px;
    padding: 3px 10px;
  }
}
@media (max-width: 720px) {
  .stories-btn {
    font-size: 10px;
    padding: 2px 10px;
    line-height: 20px;
    width: 27%;
  }
}
@media (max-width: 395px) {
  .stories-btn {
    margin-top: 8px;
    padding: 5px 10px;
  }
}
@media (max-width: 330px) {
  .stories-btn {
    width: 29%;
  }
}

@media (max-width: 1150px) {
  .stories-btn__img {
    width: 33px;
  }
}
@media (max-width: 900px) {
  .stories-btn__img {
    width: 27px;
  }
}
@media (max-width: 630px) {
  .stories-btn__img {
    width: 21px;
  }
}
@media (max-width: 630px) {
  .stories-btn__img {
    width: 16px;
  }
}